@font-face{
	font-family: 'MarvelFont';
	font-style: normal;

	src: 
	local('MarvelFont'),
	url(../src/font/BentonSansExtraCompBlackRegular.otf) format('openType');
}


body{
	font-family: 'MarvelFont', sans-serif;
	padding-top: 80px;
	background: linear-gradient(to right, #d5220f, #ecf0f1, #d5220f);

}
